# HW4_程式練習 (II)

## 題目一 (25%)


以下有一個 list：

```
numbers = [51, 30, 78, 20, 96, 40, 62]
```

### 任務內容
1. 印出該 list 中的第 1 個數字、第 3 個數字與最後一個數字。
2. 印出 list 中的最大值與最小值。
3. 將 list 中的數字由小到大排序後印出。
4. 計算並印出總和與平均值（平均值保留到小數點第 2 位）。
5. 將大於等於 50 的數字存入新的 list，並印出此 list。

In [ ]:
numbers = [51, 30, 78, 20, 96, 40, 62]

In [ ]:
print(numbers)

[51, 30, 78, 20, 96, 40, 62]

In [ ]:
print(numbers [0], numbers[2], numbers[-1])

51 78 62

In [ ]:
print(max(numbers))

96

In [ ]:
print(min(numbers))

20

In [ ]:
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[20, 30, 40, 51, 62, 78, 96]

In [ ]:
sum_numbers = sum(numbers)
print(sum_numbers)

377

In [ ]:
average = round(sum(numbers) / len(numbers), 2)
print(average)

53.86

In [ ]:
new_list = [num for num in numbers if num>=50]
print(new_list)

[51, 78, 96, 62]

## 題目二 (25%)

以下為一個包含亞洲國家及其首都的字典，但其中有一些錯誤資訊：

```
asian_countries = {
    'Taiwan': 'Taipei',
    'Japan': 'Tokyo',
    'South Korea': 'Seoul',
    'Myanmar': 'Yangon',
    'Germany': 'Berlin'
    }
```

### 任務內容
1. 將 `asian_countries` 印出來：
```
print('舊字典:', asian_countries)
```
2.  更新 `asian_countries`：
    - 將 Myanmar 的首都更正為 Naypyidaw
    - 將 Germany 從字典中移除
    - 將 Thailand 及其首都 Bangkok 新增到字典中

  ```
  print('新字典:', asian_countries)
  ```
3. 將國家按照字母排序，並將排序後的結果指派給一個變數 `sorted_asian_countries` 。
  ```
  print('排序後新字典:', sorted_asian_countries)
  ```

In [ ]:
asian_countries = {'Taiwan': 'Taipei', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'Myanmar': 'Yangon', 'Germany': 'Berlin'}

In [ ]:
print(asian_countries)

{'Taiwan': 'Taipei', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'Myanmar': 'Yangon', 'Germany': 'Berlin'}

In [ ]:
asian_countries['Myanmar'] = 'Napyidaw'
print(asian_countries)

{'Taiwan': 'Taipei', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'Myanmar': 'Napyidaw', 'Germany': 'Berlin'}

In [ ]:
del asian_countries['Germany']
print(asian_countries)

{'Taiwan': 'Taipei', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'Myanmar': 'Napyidaw'}

In [ ]:
asian_countries['Thailand'] = 'Bangkok'
print(asian_countries)

{'Taiwan': 'Taipei', 'Japan': 'Tokyo', 'South Korea': 'Seoul', 'Myanmar': 'Napyidaw', 'Thailand': 'Bangkok'}

In [ ]:
sorted_asian_countries = sorted(asian_countries)
print(sorted_asian_countries)

['Japan', 'Myanmar', 'South Korea', 'Taiwan', 'Thailand']

## 題目三 (25%)

班上有 4 位學生，他們分別有 3 科的考試成績，資料如下：

```python
scores = {
    "Linda": [85, 90, 78],
    "Richard": [72, 88, 91],
    "Una": [90, 85, 87],
    "Brian": [60, 75, 70]
}
```

### 任務內容
1. 計算每位學生的平均分數。
2. 根據平均分數，判斷每位學生的成績評語：
  - 平均分數 ≥ 85，評語為「優秀」
  - 平均分數 ≥ 70 且 < 85，評語為「及格」
  - 平均分數 < 70，評語為「需加強」

3. 請印出每位學生的「平均分數」與「評語」。
4. 額外統計：
  - 計算全班的「總平均分數」。
  - 找出「平均分數最高的學生」並印出其姓名與平均分數。

In [ ]:
scores = {
    "Linda": [85, 90, 78],
    "Richard": [72, 88, 91],
    "Una": [90, 85, 87],
    "Brian": [60, 75, 70]

}

In [ ]:
total_avg_score = 0
highest_avg = 0
top_student = ""

In [ ]:
for student, marks in scores.items():
  avg_score = round(sum(marks) / len(marks), 2)
  total_avg_score += avg_score
  if avg_score >= 85:
    comment = '優秀'
  elif avg_score >= 70:
    comment = '及格'
  else:
    comment = '需加強'
    print(f"{student}")

{'Linda': 84.33, 'Richard': 83.67, 'Una': 87.33, 'Brian': 68.33}

In [ ]:
averages = {student: round(sum(grades)/ len(grades), 2) for student, grades in scores.items()}

In [ ]:
comments = {}

for student, avg in averages.items():
  if avg >= 85:
    comments[student]: '優秀'
  elif avg >= 70:
      comments[student]: '及格'
  else:
    comments[student]: '需加強'

print(comments)

{}

## 題目四 (25%)

我們假設一組有效的密碼必須符合以下條件：

- 長度大於 5 個字元
- 必須包含：
   - 大寫英文字母
   - 小寫英文字母
   - 數字
- 不可以有空白  
<br/>

### 任務內容
1. 請針對以上條件，撰寫一個函數 `check_password()`，判斷傳入的字串是否為有效密碼。如果輸入為有效密碼，函數將回傳 `Valid Password`；如果是無效密碼，函數回傳 `INVALID`。
2. 請使用你的函數印出以下結果  
```
check_password("GenAI4Humanities")
check_password("genai4humanities")
check_password("GENAI4HUMANITIES")
check_password("GenAIGenAI")
check_password("GenAI 2025")
check_password("GenAI")
```

In [ ]:
import re

def check_password(password):
  if len(password) < 5:
    return "INVALID"
  if not re.search(r'[A-Z]', password):
    return "INVALID"
  if not re.search(r'[a-z]', password):
    return "INVALID"
  if not re.search(r'\d', password):
    return "INVALID"
  if " " in password:
    return "INVALID"
  return "Valid Password"

print(check_password("GenAI4Humanities"))
print(check_password("genai4humanities"))
print(check_password("GENAI4HUMANITIES"))
print(check_password("GenAIGenAI"))
print(check_password("GenAI 2025"))
print(check_password("GenAI"))

Valid Password
INVALID
INVALID
INVALID
INVALID
INVALID